{% extends 'UserBase.html.twig' %}

{% block title %}Contact{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<!-- Cover image -->
<div class="parallax-window" data-parallax="scroll" data-image-src="{{asset('assets/img/user/contact.jpg')}}">
    <div class="parallax-mask"></div>
</div>

<div class="content_section">
    <!-- Title -->
    <div class="title container-fluid">
        <div class="row ">
            <div class=" text col-md-3 p-3 font-weight-bold">Contact <i class=" ml-5 fas fa-arrow-down"> </i></div>
        </div>
    </div>
    <!-- /Title -->
    <!-- Content -->
    <div class="content">
        <div class="container-fluid">
            
        </div>

    </div>
    <!-- /Content -->
</div>
{% endblock %}
